<table>
    <tr>
        <td><label>Username </label></td>
        <td><input [(ngModel)]="username" placeholder="Username" /></td>
    </tr>
    <tr>
        <td><label>Password </label></td>
        <td><input [(ngModel)]="password" placeholder="Password" /></td>
    </tr>
    <tr>
        <td></td>
        <td><button [disabled]="!username || !password" (click)="login()">Login</button></td>
    </tr>
    <tr>
        <td></td>
        <td><label>{{resultMessage}}</label></td>
    </tr>    
</table>